<div>
  <label for="quadrangle-select">Select Quadrangle:</label>
  <select id="quadrangle-select" [(ngModel)]="selectedQuadrangleIndex" (change)="selectQuadrangle()">
    <option *ngFor="let quadrangle of quadrangles; let i = index" [value]="i">
      Quadrangle {{ i + 1 }}
    </option>
  </select>
  <span>Coverage Percentage: {{ coveragePercentage | number:'1.2-2' }}%</span>
  <span>Total Polygon Area: {{ totalQuadrangleArea | number:'1.2-2' }} </span>
  <span>Rectangle Area: {{ totalRectangleArea | number:'1.2-2' }} </span>
  <button (click)="saveAllConfigurations()">Save All Configurations</button>
  <button (click)="saveBestConfigurations()">Save Best Configurations</button>
  <button (click)="saveToExcel()">Save to Excel</button>
</div>

<div class="quadrangle-container">
  <svg #svg width="1600" height="1500"></svg>
</div>
