<app-topbar></app-topbar>
<div class="container-fluid mt-4">
  <div class="row no-gutters flex-container">
    <div class="col">
      <div class="polygon-container">
        <app-polygon></app-polygon>
      </div>
    </div>
    <div class="col">
      <div class="triangulation-container">
        <app-triangulation></app-triangulation>
      </div>
    </div>
    <div class="col">
      <div class="quadriangle-container">
        <app-quadrangle></app-quadrangle>
      </div>
    </div>
    <div class="col">
      <div class="prediction-container">
        <app-prediction></app-prediction>
      </div>
    </div>
  </div>
</div>
